body {
  margin:0;
  padding:0;
  overflow: hidden;
}
canvas {
  margin:auto;
}

h1 {
  font-family: 'Roboto';
  font-weight: lighter;
  font-size: 65px;
  color: orange;
  margin-top: 1%;
  margin-bottom: 1%;
}


#sketch-holder {
  margin:auto;
  margin-top: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#buttons-wrap-div{
  margin-top: 1%;
}

.far{
  color: orange;
}

#yo {
  color: blue;
}

.fab {
  color: orange;
}

.card-content {
  margin-left: 10x
  margin-top: 10x
}
.card {
  margin-left: 10x
  margin-top: 10x
}

.card-title {
  margin-left: 10x
  margin-top: 10x
}



/* ---- reset ---- */

body {
  margin: 0;
  font:normal 75% Arial, Helvetica, sans-serif;
}

canvas {
  display: block;
  vertical-align: bottom;
}

/* .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
} */

img {
    left: 0; right:0;
    margin: auto;
}
/*  */


/*
.fa-play{
margin-top: 3%;
margin-left: 50%;
color: pink;
}

.fa-pause{
margin-top: 3%;
margin-left: 50%;
color: pink;
}

#drawing-title{
margin-left: 45%;
}

#submit-button{
margin-left: 6%;
}



*/





/*
.button1 {
  position: fixed;
  bottom: 10px;
  left: 41%;
  font-family: 'Source Code Pro';
  font-size: 14px;
  font-weight: bolder;
  background-color: rgba(6, 229, 20, 1);
  border: none;
  border-radius: 10px;
}

.button2 {
  position: fixed;
  bottom: 10px;
  left: 47%;
  font-size: 14px;
  font-family: 'Source Code Pro';
  font-weight: bolder;
  background-color: rgba(6, 229, 20, 1);
  border: none;
  border-radius: 20px;
}

.button3 {
  position: fixed;
  bottom: 10px;
  left: 52%;
  font-size: 14px;
  font-family: 'Source Code Pro';
  font-weight: bolder;
  background-color: rgba(6, 229, 20, 1);
  border: none;
  border-radius: 20px;
}

.button4 {
  position: fixed;
  bottom: 10px;
  left: 58%;
  font-size: 14px;
  font-family: 'Source Code Pro';
  font-weight: bolder;
  background-color: rgba(6, 229, 20, 1);
  border: none;
  border-radius: 20px;
}

.button5 {
  position: fixed;
  bottom: 10px;
  left: 66%;
  font-size: 14px;
  font-family: 'Source Code Pro';
  font-weight: bolder;
  background-color: rgba(6, 229, 20, 1);
  border: none;
  border-radius: 20px;
  } */
